# Exo1:
Écrire un programme qui demande le nom et l’âge d’un étudiant à l’université et afficher ‘’Bonjour …, tu as … ans et bienvenue à l’université’’ en remplaçant les … par respectivement le nom et l’âge de l’étudiant.

In [11]:
nom=input("Saisir le nom de l'étudiant: ")
age=int(input("Saisir l'âge de l'étudiant: "))
print("Bonjour ",nom," tu as ",age)

Saisir le nom de l'étudiant: DIAKITE
Saisir l'âge de l'étudiant: 25
Bonjour  DIAKITE  tu as  25

# Exo2:
Écrire un programme qui demande à l’utilisateur de donner un nombre entier n et de lui afficher la table de multiplication de ce nombre.

In [12]:
n=int(input("Saisir un nombre: "))
print("***********Table de multiplication de ",n,"********")
for i in range(1, 11):
    print(n,"x",i,"=",n*i)

Saisir un nombre: 9
***********Table de multiplication de  9 ********
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

# Exo3: 
Ecrire un programme permettant de saisir 3 notes (sur 20) d’un étudiant, calculant sa moyenne et affichant cette moyenne avec la mention (‘’Très bien’’ à partir de 16, ‘’Bien’’ entre 14 et 16, ‘’Assez Bien’’ entre 12 et 14, ‘’Passable’’ entre 10 et 12, ‘’Insuffisant’’ en dessous de 10). 
PS: En supposant que l’utilisateur va saisir des notes comprises entre 0 et 20.

In [13]:
print("La saisie des notes \n NB: les notes sont comprises entre 0 et 20")
note1=int(input("Saisir la 1ère note: "))
note2=int(input("Saisir la 2ème note: "))
note3=int(input("Saisir la 3ème note: "))
moyenne=(note1+note2+note3)/3
if moyenne>=16:
    print("Moyenne ", moyenne," Trèb bien")
elif moyenne>=14:
    print("Moyenne ", moyenne," Bien")
elif moyenne>=12: 
    print("Moyenne ", moyenne," Assez bien")
elif moyenne>=10: 
    print("Moyenne ", moyenne," Passable")
else:
    print("Moyenne ", moyenne," Insuffisant")

La saisie des notes
 NB: les notes sont comprises entre 0 et 20
Saisir la 1ère note: 17
Saisir la 2ème note: 15
Saisir la 3ème note: 16
Moyenne  16.0  Trèb bien

# Exo4:
Ecrire un programme qui demande à l’utilisateur deux nombres entiers et l’une des opérateurs suivants: +, -, *, / puis effectue l’opération correspondant et affiche le résultat de cette opération.

In [14]:
entier1=int(input("Saisir le 1er entier: "))
entier2=int(input("Saisir 2ème entier: "))
op=input("Saisir l'opérateur: ")
if op=='+':
    print("Addition: ",entier1+entier2)
if op=='-':
    print("Soustraction: ",entier1-entier2)
if op=='x':
    print("Multiplication: ",entier1*entier2)
if op=='/':
    print("Division: ",entier1/entier2)

Saisir le 1er entier: 14
Saisir 2ème entier: 16
Saisir l'opérateur: +
Addition:  30

# Exo5:
Écrire un programme qui demande un nombre de départ, et qui ensuite affiche les dix nombres suivants en utilisant la boucle for.
Par exemple, si l’utilisateur entre le nombre 33, le programme affichera les nombres de 34 à 43.

In [18]:
nbr=int(input("Saisir un nombre de départ: "))
for i in range(nbr+1,nbr+11):
    print(i)

Saisir un nombre de départ: 11
12
13
14
15
16
17
18
19
20
21

# Exo6:
Écrire un programme qui demande un nombre positif non nul de départ, et qui calcule sa factorielle.
Par exemple, la factorielle de 6, notée 6!, vaut 1 x 2 x 3 x 4 x 5 x 6.

In [19]:
nb=int(input("Saisir un nombre positif: "))
fact=1
for i in range(1,nb+1):
    fact=fact*i
print("La factorielle de ", nb, " est: ",fact)

Saisir un nombre positif: 6
La factorielle de  6  est:  720